<mat-card>
  <mat-card-title>
    Coffee Name
  </mat-card-title>
  <mat-card-subtitle>
    Coffee short description
  </mat-card-subtitle>
  <button mat-button><mat-icon>map</mat-icon></button>
  <button mat-button><mat-icon>share</mat-icon></button>
  <button mat-button><mat-icon>list</mat-icon></button>
</mat-card>

<mat-card>
  <mat-card-title>
    Coffee Name
  </mat-card-title>
  <mat-card-subtitle>
    Coffee short description
  </mat-card-subtitle>
  <button mat-button><mat-icon>map</mat-icon></button>
  <button mat-button><mat-icon>share</mat-icon></button>
  <button mat-button><mat-icon>list</mat-icon></button>
</mat-card>