<form name="coffeeListCreator"
  [formGroup]="coffeeInfoForm"
  (ngSubmit)="save()">
    
  <!--About Coffee-->
  <mat-card>
    <mat-card-title>Coffee Information</mat-card-title>
    <mat-input-container>
      <input matInput type="text" placeholder="Coffee Name" name="name" formControlName="name">
    </mat-input-container>
    <small class="error" *ngIf="coffeeInfoForm.get('name').hasError('required') 
          && coffeeInfoForm.get('name').touched 
          && coffeeInfoForm.get('name').dirty">
      Name is required
    </small>
    <mat-select placeholder="Coffee Type" name="coffeeType" formControlName="type">
      <mat-option *ngFor="let opt of opts" [value]="opt">{{opt}}</mat-option>
    </mat-select>
  </mat-card>

  <!--Coffee Location Info-->
  <mat-card formGroupName="location">
    <mat-card-title>Place Information</mat-card-title>
    <mat-form-field>
      <input matInput type="text" placeholder="Address Name" name="address" formControlName="address">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="City Name" name="city" formControlName="city">
    </mat-form-field>
  </mat-card>

  <!--Coffee Rating Element-->
  <mat-card>
      <mat-card-title>Rating</mat-card-title>
      <mat-card-subtitle>Overall Rating</mat-card-subtitle>
        <mat-slider max="10" name="rating" formControlName="rating" thumbLabel tickIntervel="1">
      </mat-slider>

      <!--Testing Rating Toggle ELement-->
      <mat-slide-toggle formControlName="testRating" #testingSelector >Testing Rating</mat-slide-toggle>
  </mat-card>

  <mat-card formGroupName="testingRating">

    <!--Group of Testing Rating Slider Elements-->
    <section id="rating" *ngIf="testingSelector.checked">
      <mat-label>Aroma</mat-label>
      <mat-slider max="10" name="aroma" formControlName="aroma" thumbLabel tickIntervel="1">
      </mat-slider>

      <mat-label>Flavor</mat-label>
      <mat-slider max="10" name="flavor" formControlName="flavor" thumbLabel tickIntervel="1">
      </mat-slider>

      <mat-label>Intensity</mat-label>
      <mat-slider max="10" name="intensity" formControlName="intensity" thumbLabel tickIntervel="1">
      </mat-slider>

      <mat-label>Sweetness</mat-label>
      <mat-slider max="10" name="sweetness" formControlName="sweetness" thumbLabel tickIntervel="1">
      </mat-slider>
    </section>

  </mat-card>

  <!--Notes-->
  <mat-card>
    <mat-input-container>
      <textarea name="notes" formControlName="notes" placeholder="Notes" matInput></textarea>
    </mat-input-container>
  </mat-card>

  <mat-card *ngIf="tempFormDt">
    {{tempFormDt | json}}
  </mat-card>
  
  <!--Coffee CTA-->
  <mat-card>
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button color="accent" mat-raised-button type="submit">Save</button>
  </mat-card>

</form>